{% extends "base.html" %}
{% load static %}

{% block content %}
    <main class="container">

        <h3 class="text-center">Проезд</h3>

        <div class="info-block">
            <span>Дата проезда: {{ payment.date }}</span><br>
            <span>Номер машины: {{ payment.car_number }}</span>
        </div>

        <h4 class="text-center">Дороги</h4>

        <div class="cards-wrapper d-flex flex-column">

            {% for road in roads %}
                {% include "road_card.html" %}
            {% endfor %}

        </div>

    </main>
{% endblock content %}
