{% extends "base.html" %}
{% load static %}

{% block content %}
    <main class="container road-page">

        <div class="row">
            <div class="col-6">
                <img src="{{ road.image }}" class="road-image" alt=""/>
            </div>
            <div class="col-6 d-flex flex-md-column gap-md-3">

                <h1>{{ road.name }}</h1>

                <span>Описание: {{ road.description }}</span>

                <span>Разрешенная скорость: {{ road.speed }}</span>

                <div class="form-group">
                    <label class="form-label">Участок дороги (км)</label>
                    <div class="d-flex align-items-center">
                        <span class="me-2">с</span>
                        <input type="text" class="form-control me-2" style="width: 75px;" value="{{ road.start_value }}" disabled>
                        <span class="me-2">по</span>
                        <input type="text" class="form-control" style="width: 75px;" value="{{ road.end_value }}" disabled>
                    </div>
                </div>

                <a href="/" class="btn btn-primary my-4 w-25 return-btn">
                    Домой
                </a>

            </div>
        </div>

    </main>
{% endblock content %}