{% load static %}

{% if "http://localhost:8000/payments/" in request.build_absolute_uri or "http://127.0.0.1:8000/payments/" in request.build_absolute_uri %}
    <div class="card w-100 mb5">
         <div class="row g-0">
            <div class="col-md-6 d-flex justify-center">
                <img src="{{ road.image }}"  >
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">{{ road.name }} </h5>
                    <p class="card-text">Разрешенная скорость: {{ road.speed }} км/ч</p>
                    
                    <div class="form-group">
                        <label class="form-label">Участок дороги (км)</label>
                        <div class="d-flex align-items-center">
                            <span class="me-2">с</span>
                            <input type="text" class="form-control me-2" style="width: 75px;" value="{{ road.start_value }}" disabled>
                            <span class="me-2">по</span>
                            <input type="text" class="form-control" style="width: 75px;" value="{{ road.end_value }}" disabled>
                        </div>
                    </div>
                    
                    <a href="/roads/{{ road.id }}/" class="btn btn-primary" style="width: 153px">
                        Подробнее
                    </a>
                </div>
            </div>
         </div>
    </div>
{% else %}
    <div class="card">
        <img src="{{ road.image }}" class="road-preview" alt=""/>
        <div class="card-body" >
            <div class="card-info">
                <h5 class="card-title">{{ road.name }}</h5>
                <p class="card-text">Разрешенная скорость: {{ road.speed }} км/ч</p>
            </div>
            <div class="card-btns"  style="background-color: #fff;">
                <a href="/roads/{{ road.id }}/" class="btn btn-primary center" style="width: 153px">
                    Подробнее
                </a>
            </div>
        </div>
    </div>
{% endif %}




